.bottom_navigation {
    z-index: 10;
    position: fixed;
    bottom: 0px;
    width: 100%;
    padding: 5px 25px;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: nowrap;
}

.bottom_navigation button{
    background: none;
    border: none;
}
.bottom_navigation button:first-child svg{
    /* float: left; */
}
.bottom_navigation button svg{
    width: 25px;
    height: 25px;
    object-fit: contain;
}
.bottom_navigation button span{
    display: block;
    font-size: .8rem;
}






@media (min-width: 450px){
    .bottom_navigation  {
        display: none;
    }
}