.hero {
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: hsl(220, 26%, 14%);
}

.hero .content {
    padding: 30px;
    width: min(800px, 90%);
    text-align: center;
    align-items: center;
}
.hero .content h1{
    font-size: 4.5rem;
    color:  var(--white);
}
.hero .content p{
    opacity: .8;
    font-size: 1.1rem;
    color:  var(--white);
    margin: 5px 0px;
}
.hero .content .line{
    width: 50%;
    height: .5px;
    background-color: #eee;
    margin: 30px auto;
    opacity: .5;
}


.hero .content .row{
    display: flex;
    justify-content: center;
    width: 100%;
    flex-wrap: wrap;
    gap: 30px;
}
.hero .content .row a{
    background-color: green;
    color: #ffffffff;
    text-decoration: none;
    padding: 10px 30px;
}
.hero .content .row a:last-child{
    background-color: rgb(17, 171, 176);
}



@media (max-width: 620px){
    .hero .content h1{
        font-size: 2.5rem;
    }
}
@media (max-width: 400px){
    .hero .content h1{
        font-size: 1.8rem;
    }
}