.buy_now{
    width: 100%;
    padding: 0 5%;
    margin-top: 50px;
    margin-bottom: 50px;
    display: flex;
    justify-content: center;
}
.buy_now_container{
    max-width: 1000px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}


.buy_now .buy_now_box{
    color: var(--text-white);
    width: 58%;
    height: 360px;
    background: var(--dark);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 5%;
    text-align: center;
}
.buy_now .buy_now_box:last-child{
    width: 40%;
}
.buy_now .buy_now_box p{
    margin: 10px 0;
    color: #eee;
}
.buy_now .buy_now_box a{
    display: block;
    margin: 10px 0;
    color: var(--primary);
    background: var(--white);
    padding: 10px 20px;
    text-decoration: none;
    transition: .3s;
}
.buy_now .buy_now_box a:hover{
    color: var(--text-white);
    background: var(--secondary);
}



@media (max-width: 530px){
    .buy_now .buy_now_box,
    .buy_now .buy_now_box:last-child
    {
        width: 100%;
        margin-top: 15px;
    }
}
@media (max-width: 600px){
    .advantages .advantages_container .advantages_box{
        width: 45%;
    }
}
@media (max-width: 400px){
    .advantages .advantages_container .advantages_box{
        width: 100%;
    }
}
