.hero {
    width: 100%;
    height: 348px;
    background-image: url(contact.svg);
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
    flex-direction: column;
}

.hero .content {
    padding: 0 5%;
    padding-bottom: 5%;
    /* text-align: center; */
}
.hero .content h1{
    font-size: 3.5rem;
    font-family: 'cursive';
    color:  var(--white);
}



@media (max-width: 1300px){
    .hero .content h1{
        font-size: 3rem;
    }
}
@media (max-width: 1150px){
    .hero .content h1{
        font-size: 4vw;
    }
}
@media (max-width: 950px){
    .hero .content h1{
        font-size: 4.5vw;
    }
    .hero {
        height: 300px;
    }
}
@media (max-width: 800px){
    .hero .content h1{
        font-size: 5vw;
    }
}
@media (max-width: 700px){
    .hero .content h1{
        font-size: 6vw;
    }
}

@media (max-width: 350px){
    .hero .content h1{
        font-size: 6.7vw;
    }
}
@media (max-width: 280px){
    .hero .content h1{
        font-size: 7vw;
    }
}