.main_header {
    z-index: 2;
    position: fixed;
    top: 0px;
    width: 100%;
    padding: 1% 3.5%;
    background-color: var(--white);
}

.main_header nav{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.main_header nav .logo_container {
    display: flex;
    align-items: center;
}
.main_header nav .logo_container img{
    width: 40px;
    height: 40px;
    margin-right: 8px;
}
.main_header nav .logo_container h1{
    color: var(--text-dark);
}
.main_header nav .logo_container h1 span{
    color: transparent;
    background: linear-gradient(90deg, #6c5ce7, #FC427B);
    -webkit-background-clip: text;
    background-clip: text;
}

.main_header nav .links a{
    display: inline-flex;
    align-items: center;
    text-decoration: none;
    color: var(--text-dark);
    font-size: .7rem;
    font-weight: 500;
    transition: .5s;
    margin-right: 50px;
}
.main_header nav .links a:hover{
    color:var(--secondary);
}
.main_header nav .auth_links
 {
    display: flex;
    align-items: center;
}
.main_header nav .auth_links a{
    display: inline-flex;
    align-items: center;
    text-decoration: none;
    color: var(--violet);
    font-size: .7rem;
    font-weight: 500;
    transition: .5s;
    height: 40px;
    padding: 0 24px;
    border-radius: 4px;
    background-color: var(--footer-background);
}
.main_header nav .auth_links a svg{
    margin-right: 5px;
}
.main_header nav .auth_links a:last-child{
    margin-left: 24px;
}
.main_header nav .auth_links a:hover{
    color:var(--violet);
    background:  var(--violet);
    color: var(--dark);
}



/***












mobile
*/
.main_header nav .mobile_auth_links
 {
    display: flex;
    flex-direction: column;
    background-color: white;
    align-items: flex-start;
    justify-content: flex-start;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    padding: 5px 14px;
}


.main_header nav .mobile_auth_links a{
    display: inline-flex;
    align-items: center;
    text-decoration: none;
    color: var(--dark);
    font-size: .8rem;
    font-weight: 500;
    transition: .5s;
    align-self: flex-start;
    float: left;
    margin: 8px 0;
    margin-bottom: 20px;
}
.main_header nav .mobile_auth_links .auth_anchor{
    height: 40px;
    padding: 0 24px;
    border-radius: 4px;
    background-color: var(--footer-background);
}

.main_header nav .mobile_auth_links a svg{
    margin-right: 5px;
}

.main_header nav .mobile_auth_links a:hover{
    color:var(--violet);
    background:  var(--violet);
    color: var(--dark);
}




.main_header nav button {
    display: none;
}


@media (min-width: 1030px){
    .main_header nav .mobile_auth_links {
        display: none;
    }
}
@media (max-width: 1200px){
    .main_header nav .auth_links a{
        font-size: .9vw;
    }
}

@media (max-width: 1030px){
    .main_header nav .auth_links,
    .main_header nav .links
     {
        display: none;
    }
    .main_header nav button {
        display: inline;
    }
    .main_header nav button {
        background: none;
        border: none;
        z-index: 3;
    }

    
}






