.login_container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: 0 5%;
    width: 100%;
    height: 100vh;
}

.login_container .login_container_left{
    flex-basis: 40%;
    background: var(--background);
    border-radius: 5px;
    padding: 40px 60px;
    margin-right: 50px;
}
.login_container .login_container_left div{
    width: 98%;
}
.login_container .login_container_right{
    flex-basis: 40%;
    padding: 0 5%;
}








.login_container .login_container_left form{
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.login_container .login_container_left h1{
    color: var(--foreground-primary);
    font-size: 1.5rem;
    margin-bottom: 35px;
}
.login_container .login_container_left form input:hover{
    border: 1px solid var(--violet);
}
.login_container .login_container_left form input{
    display: block;
    width: 100%;
    height: 50px;
    outline: none;
    border: none;
    background-color: var(--background-secondary);
    color: var(--text-white);
    margin-bottom: 10px ;
    border-radius: 5px;
    padding: 4px 14px;
}
.login_container .login_container_left p{
    color: var(--foreground-secondary);
    font-size: .9rem;
    margin: 15px 0;
    text-align: center;
}
.login_container .login_container_left p span{
    color: var(--violet);
    cursor: pointer;
}
.login_container .login_container_left form button{
    border: none;
    color: var(--foreground-primary);
    background-color: var(--violet);
    margin: 15px 0;
    border-radius: 5px;
    padding: 18px 0;
    width: 100%;
    transition: .3s;
    cursor: pointer;
}
.login_container .login_container_left form button:hover{
    opacity: .7;
}
.login_container .login_container_left form  a{
    color: var(--violet);
    text-decoration: none;
    font-size: .9rem;
}
.login_container .login_container_left form a:hover{
    opacity: .8;
}









.login_container .login_container_right div{
    display: flex;
    align-items: center;
    align-self: flex-start;
}
.login_container .login_container_right div img{
    width: 20px;
    height: 20px;
    margin-right: 4px;
}
.login_container .login_container_right div span{
    color: var(--foreground-secondary);
    font-family: monospace, arial, sans-serif;
}
.login_container .login_container_right h1{
    color: var(--foreground-secondary);
    font-size: 3rem;
    margin-top: 30px;
    margin-bottom: 30px;
}




@media (max-width: 950px){
    .login_container .login_container_left{
        flex-basis: 50%;
    }
    .login_container .login_container_right{
        flex-basis: 40%;
    }
}
@media (max-width: 859px){
    .login_container {
        flex-direction: column;
    }
    .login_container .login_container_left{
        width: 100%;
        height: 550px;
        margin: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .login_container .login_container_right{
        display: none;
    }
}
@media (max-width: 859px){
    .login_container .login_container_left{
        padding: 15px;
    }
}


